* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 82.5%;
  font-family: 'Inconsolata', monospace;
  font-family: 'Noto Serif JP', sans-serif;
  height: 100%; }

body {
  background: #090909;
  font-size: 1rem;
  color: #090909;
  height: 100%; }

#root {
  height: 100%;
  width: 100%; }

.app {
  font-size: 1rem; }

.home {
  display: flex;
  flex-direction: column; }

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  color: #eaeaea; }
  .add__intro {
    margin-top: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 3px solid #eaeaea; }
  .add__plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }

.app {
  width: 100%;
  height: 100%; }

/* WISH COMPONENTS */
.home__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background: #090909; }
  .home__intro h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #ffffff; }
  .home__intro .home__arrow {
    position: absolute;
    bottom: 4rem; }

.wish {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 50vh;
  background: #090909;
  color: #eaeaea;
  border-top: 1px solid #eaeaea; }
  .wish__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%; }
    .wish__info--edit {
      justify-content: flex-start; }
    .wish__info__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Inconsolata", monospace;
      font-weight: 100; }
      .wish__info__text p {
        font-size: 2.5rem; }
    .wish__info__date {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: rgba(234, 234, 234, 0.5);
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .wish__info__date p {
        font-size: 1.75rem; }
    .wish__info__save {
      width: 50%;
      padding: 0.25rem 1rem;
      margin-top: 1rem;
      border-radius: 2px;
      font-size: 1.6rem;
      font-family: "Inconsolata", monospace;
      background: #eaeaea;
      border: none;
      cursor: pointer;
      transition: background 0.15s; }
      .wish__info__save:hover {
        background: #464646; }

.more-options {
  position: relative; }

.menu {
  width: 40%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #eaeaea;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
  .menu__close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer; }
    .menu__close:after {
      content: "";
      position: absolute;
      right: 0.75rem;
      transform: rotate(45deg);
      width: 1px;
      height: 1.5rem;
      background: #464646;
      border-radius: 2px; }
    .menu__close:before {
      content: "";
      position: absolute;
      right: 0.75rem;
      transform: rotate(-45deg);
      width: 1px;
      height: 1.5rem;
      background: #464646;
      border-radius: 2px; }
    .menu__close:hover:before, .menu__close:hover:after {
      background: #090909; }
  .menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 50%;
    color: #090909;
    transition: background 0.15s; }
    .menu__btn:hover {
      background: rgba(0, 0, 0, 0.2); }
    .menu__btn--save, .menu__btn--edit {
      border-bottom: 1px solid rgba(9, 9, 9, 0.3); }

.open-dots {
  display: flex;
  justify-content: flex-end;
  height: 10%; }
  .open-dots .dots {
    display: flex;
    cursor: pointer;
    padding: 1.25rem;
    color: rgba(234, 234, 234, 0.5); }
    .open-dots .dots__dot {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 100%;
      border: 4px solid;
      transition: color 0.15s; }
      .open-dots .dots__dot:not(:last-child) {
        margin-right: 0.5rem; }
    .open-dots .dots:hover {
      color: rgba(234, 234, 234, 0.8); }
      .open-dots .dots:hover__dot {
        background: #eaeaea;
        border: 5px solid red; }

/* ADD WISH COMPONENTS*/
.add-wish-form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  border-radius: 2px;
  background: #eaeaea;
  color: #090909;
  transform: translateY(97%); }

.add-wish-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 75vh;
  overflow: hidden; }

/* INDEPENDENT COMPONENTS */
.DayPickerInput {
  color: #000;
  border-radius: 4px;
  top: 0; }
  .DayPickerInput input {
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090909;
    background-color: #eaeaea;
    padding: 0.25rem 0;
    padding-left: 1rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    outline: none;
    font-size: 1.5rem; }
  .DayPickerInput .DayPickerInput-Overlay {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #eaeaea; }
  .DayPickerInput .DayPicker-Day {
    transition: background-color 0.15s; }
    .DayPickerInput .DayPicker-Day:hover {
      background-color: #efb025 !important; }

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transition: box-shadow 0.15s; }
  .plus--link:hover {
    box-shadow: 0 0 5px #efb025; }
    .plus--link:hover span.gold {
      background: #ba8320; }
  .plus--regular {
    z-index: 0;
    height: 5rem;
    width: 5rem; }
  .plus span {
    position: absolute;
    width: 4px;
    height: 2rem;
    background: #eaeaea; }
    .plus span.gold {
      background: #efb025; }
    .plus span.s {
      height: 2rem; }
    .plus span.m {
      height: 5rem; }
    .plus span:nth-child(1) {
      transform: rotate(90deg); }

.footer {
  width: 100%;
  height: 5rem; }
  .footer.black {
    border-top: 1px solid #eaeaea;
    background: #090909; }
  .footer.center {
    display: flex;
    justify-content: center;
    align-items: center; }

.input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  box-shadow: none;
  transition: box-shadow 0.15s;
  background: #eaeaea;
  color: #070e1d; }
  .input:focus {
    box-shadow: 0 2px 4px rgba(9, 9, 9, 0.25); }
  .input__text {
    font-family: "Inconsolata", monospace;
    padding: 0.25rem 0;
    padding-left: 1rem; }
  .input--rounded {
    border-radius: 4px; }
  .input--elegant_black {
    background: #464646;
    color: #eaeaea; }

.arrow {
  border: solid #eaeaea;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .65rem; }
  .arrow--down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

/*# sourceMappingURL=index.css.map */
