.arrow {
  border: solid $elegant_white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .65rem;

  &--down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
