.add-wish-form {
  position: absolute;

  top: 5px;

  width: 100%;
  height: 100%;

  border-radius: 2px;

  background: $elegant_white;

  transform: translateY(97%);
}

.add-wish-form__container {
  //z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 75vh;

  overflow: hidden;

}
