/* ===========================
    Variables
========================= */
@keyframes appear {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
/* ===========================
    End Variables
========================= */
::-webkit-scrollbar {
  display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #404040;
  background: url("/kids_helper/static/media/pic-4.451ae0ce.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 910px) {
    body {
      background: #9af6d6; } }

* {
  box-sizing: border-box; }

.app {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 75%;
  margin: 2em auto;
  box-shadow: 0 5px 10px #222222;
  position: relative; }

@media screen and (max-width: 910px) {
  .app {
    width: 100%;
    margin: 0 auto; } }
/* ===========================
    Header
    ========================= */
#burger-container {
  display: none; }

.header-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.header {
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4em;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  background: #643fad; }
  .header .nav {
    transition: background .25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 4px;
    color: white;
    background: #643fad;
    height: 100%;
    width: 25%; }
    .header .nav span {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header .nav:nth-child(odd) {
      border-right: 2px solid rgba(255, 255, 255, 0.4);
      border-left: 2px solid rgba(255, 255, 255, 0.4); }
    .header .nav:nth-child(1) {
      border-left: 0; }
    .header .nav:hover {
      background: #4c1fa7; }
    .header .nav.active {
      background: #4617a4; }

@media screen and (max-width: 910px) {
  #burger-container {
    display: block;
    z-index: 20;
    position: fixed;
    top: 0em;
    right: 0em;
    transform: scale(0.5); }

  #burger span {
    background: #ff216a;
    display: block;
    width: 100px;
    height: 14px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s; }

  #burger-container.true span:nth-child(2),
  #burger-container.true span:nth-child(3) {
    width: 0;
    opacity: 0; }

  #burger-container.true span:nth-child(1) {
    transform: rotate(-45deg);
    top: 36px; }

  #burger-container.true span:nth-child(4) {
    transform: rotate(45deg);
    top: -36px; } }
@media screen and (max-width: 910px) {
  .header {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    height: 100vh;
    transition: transform .5s ease-in-out; }
    .header.true {
      transform: translateX(0%); }
    .header.false {
      transform: translateX(100%); }
    .header .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 2em;
      font-weight: normal;
      letter-spacing: 4px;
      color: white;
      background: rgba(15, 15, 15, 0.99);
      border-top: 2px solid rgba(255, 255, 255, 0.7);
      height: 25%;
      width: 100%; }
      .header .nav:nth-child(odd) {
        border-right: 0px solid rgba(255, 255, 255, 0.4);
        border-left: 0px solid rgba(255, 255, 255, 0.4); }
      .header .nav:nth-child(1) {
        border-left: 0; }
      .header .nav.active {
        background: #000000; } }
/* ===========================
  End Header
========================= */
/* ===========================
  Home
========================= */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, black, #0f0f0f); }
  .home .intro {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .home .intro i {
      z-index: 0;
      border: solid #fff;
      border-width: 0 1px 1px 0;
      padding: 3px;
      margin-top: 1em;
      transform: scale(6) rotate(45deg);
      position: absolute;
      bottom: 6em;
      left: calc(50% - 3px); }
    .home .intro h1 {
      margin: 0;
      color: #ffffff;
      font-size: 6em;
      text-shadow: 0.5px 0.5px #ff00f5, 1.5px 1.5px #ff00f5, 2px 2px #ff00f5;
      letter-spacing: 10px; }
  .home .wishes {
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background: #000; }
    .home .wishes .wish {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 50vh;
      width: 50%;
      border: 2px solid white; }
      .home .wishes .wish h1 {
        margin-top: 1em;
        text-align: center;
        color: white;
        width: 95%;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.57), 0 0 10px rgba(0, 0, 0, 0.81); }
      .home .wishes .wish input {
        outline: none;
        margin-bottom: -4em;
        font-size: 2.5em;
        text-align: center;
        width: 80%;
        height: 1.5em;
        color: #000000;
        background: white; }
      .home .wishes .wish button {
        transition: box-shadow .25s ease;
        outline: none;
        margin-bottom: -1em;
        width: 50%;
        font-size: 2em;
        padding: .1em;
        border-radius: 8px;
        background: rgba(165, 73, 199, 0);
        border: 2px solid #a549c7;
        color: #a549c7; }
        .home .wishes .wish button:hover {
          cursor: pointer;
          box-shadow: 0 0 18px #a549c7; }
      .home .wishes .wish .more-options {
        transition: color .1s;
        position: absolute;
        top: -1em;
        right: 2em;
        transform: rotate(90deg);
        width: auto;
        color: rgba(255, 255, 255, 0.6); }
        .home .wishes .wish .more-options:hover {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.9); }
        .home .wishes .wish .more-options:after {
          padding-right: -2em;
          content: '\2807';
          font-size: 5em; }
      .home .wishes .wish .menu {
        padding: 0em 0;
        transition: visibility .1s, opacity 0.1s linear;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 1.5em;
        right: 1em;
        border-radius: 8px;
        background: white;
        overflow: hidden; }
        .home .wishes .wish .menu.false {
          visibility: hidden;
          opacity: 0; }
        .home .wishes .wish .menu.true {
          visibility: visible;
          opacity: 1; }
        .home .wishes .wish .menu .close {
          transition: opacity .1s;
          position: absolute;
          top: 0px;
          right: .1em;
          width: 32px;
          height: 32px;
          opacity: .5; }
          .home .wishes .wish .menu .close:hover {
            cursor: pointer;
            opacity: 1; }
        .home .wishes .wish .menu .close:before, .home .wishes .wish .menu .close:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: #323232; }
        .home .wishes .wish .menu .close:before {
          transform: rotate(45deg); }
        .home .wishes .wish .menu .close:after {
          transform: rotate(-45deg); }
        .home .wishes .wish .menu .divide {
          width: 100%;
          height: 2px;
          border-bottom: 2px solid #222222; }
        .home .wishes .wish .menu .menu-choice {
          transition: background .15s;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50%;
          color: rgba(0, 0, 0, 0.9);
          font-size: 1.5em; }
          .home .wishes .wish .menu .menu-choice:hover {
            cursor: pointer;
            background: #c1c1c1; }
          .home .wishes .wish .menu .menu-choice.delete {
            color: #ff4a90;
            background: rgba(255, 196, 219, 0.4);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px; }
            .home .wishes .wish .menu .menu-choice.delete:hover {
              background: #ffc4db; }
  .home .add-wish-butt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100%;
    height: 6em;
    padding-top: .5em;
    padding-left: .45em; }
    .home .add-wish-butt a {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transform: scale(0.5);
      border-radius: 100%;
      width: calc(6em + 10px);
      height: calc(6em + 10px); }
      .home .add-wish-butt a:hover span {
        background: #ffcf00; }
      .home .add-wish-butt a span {
        background: #fff;
        display: block;
        width: 6em;
        height: 14px;
        position: relative;
        top: 0;
        transition: all ease-in-out 0.4s; }
      .home .add-wish-butt a span:nth-child(2) {
        transform: rotate(90deg) translateX(-1em); }

@media screen and (max-width: 910px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background: linear-gradient(135deg, black, #0f0f0f); }
    .home .intro {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
      .home .intro h1 {
        margin: 0;
        color: #ffffff;
        font-size: 3em;
        text-shadow: 0.5px 0.5px #ff00f5, 1.5px 1.5px #ff00f5, 2px 2px #ff00f5;
        letter-spacing: 10px; }
    .home .wishes {
      outline: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: #000; }
      .home .wishes .wish {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 50vh;
        width: 100%;
        border: 2px solid white;
        border-left: 0;
        border-right: 0;
        border-bottom: 0; } }
      @media screen and (max-width: 910px) and (min-aspect-ratio: 1 / 1) {
        .home .wishes .wish {
          height: 100vh; } }
@media screen and (max-width: 910px) {
        .home .wishes .wish h1 {
          margin-top: 1em;
          text-align: center;
          color: white;
          width: 95%;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.57), 0 0 10px rgba(0, 0, 0, 0.81); }
        .home .wishes .wish input {
          outline: none;
          margin-bottom: -4em;
          font-size: 2em;
          text-align: center;
          border: none;
          border-radius: 4px; }
        .home .wishes .wish input[type="text"] {
          width: 80%;
          height: 1.5em; }
        .home .wishes .wish button {
          outline: none;
          margin-bottom: -1em;
          width: 50%;
          font-size: 2em;
          padding: .25em;
          border-radius: 8px;
          box-shadow: 0 0 18px #a549c7;
          background: #a549c7;
          color: rgba(255, 255, 255, 0.73);
          border: none; }
        .home .wishes .wish .more-options {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -.5em;
          right: 3.5em;
          transform: rotate(90deg);
          width: 1em; }
          .home .wishes .wish .more-options:hover {
            cursor: none;
            color: rgba(255, 255, 255, 0.6); }
          .home .wishes .wish .more-options:after {
            color: rgba(255, 255, 255, 0.6);
            content: '\2807';
            font-size: 5em; }
        .home .wishes .wish .menu {
          padding: 0em 0;
          transition: visibility .1s, opacity 0.1s linear;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 75%;
          height: 50%;
          position: absolute;
          top: 1.5em;
          right: 1em;
          border-radius: 8px;
          background: white; }
          .home .wishes .wish .menu.false {
            visibility: hidden;
            opacity: 0; }
          .home .wishes .wish .menu.true {
            visibility: visible;
            opacity: 1; }
          .home .wishes .wish .menu .close {
            position: absolute;
            top: 0px;
            right: .1em;
            width: 32px;
            height: 32px;
            opacity: 1; }
          .home .wishes .wish .menu .close:hover {
            cursor: none;
            opacity: 1; }
          .home .wishes .wish .menu .close:before, .home .wishes .wish .menu .close:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #323232; }
          .home .wishes .wish .menu .close:before {
            transform: rotate(45deg); }
          .home .wishes .wish .menu .close:after {
            transform: rotate(-45deg); }
          .home .wishes .wish .menu .divide {
            width: 100%;
            height: 2px;
            border-bottom: 2px solid #222222; }
          .home .wishes .wish .menu .menu-choice {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;
            color: rgba(0, 0, 0, 0.9);
            font-size: 1.5em; }
            .home .wishes .wish .menu .menu-choice:hover {
              cursor: none;
              background: rgba(0, 0, 0, 0.9); }
            .home .wishes .wish .menu .menu-choice.delete {
              color: #ff4a90;
              background: rgba(255, 196, 219, 0.4);
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px; }
    .home i {
      z-index: 0;
      border: solid white;
      border-width: 0 1px 1px 0;
      padding: 3px;
      margin-top: 1em;
      transform: scale(6) rotate(45deg);
      position: absolute;
      bottom: 2em;
      left: 50%; }
    .home .add-wish-butt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      width: 100%;
      height: 4em;
      border: 2px solid #fff;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      padding-top: .5em;
      padding-left: .45em; }
      .home .add-wish-butt a {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: scale(0.5);
        border-radius: 100%;
        width: calc(6em + 10px);
        height: calc(6em + 10px); }
        .home .add-wish-butt a:hover span {
          background: #ffcf00; }
        .home .add-wish-butt a span {
          background: #fff;
          display: block;
          width: 6em;
          height: 14px;
          position: relative;
          top: 0;
          transition: all ease-in-out 0.4s; }
        .home .add-wish-butt a span:nth-child(2) {
          transform: rotate(90deg) translateX(-1em); } }
/* ===========================
  END Home
========================= */
/* ===========================
  ADD WISH
========================= */
.add-wish {
  width: 100%;
  padding: 8% 0;
  display: flex;
  align-items: center;
  background: linear-gradient(-45deg, #007dff, #7d1bb1, #ff006b 130%); }
  .add-wish .intro {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    align-self: flex-start;
    width: 100%; }
    .add-wish .intro h1 {
      display: block;
      font-size: 6em;
      width: 100%;
      text-align: center;
      color: white; }
    .add-wish .intro form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .add-wish .intro form input[type="text"] {
        border: none;
        outline: 2px solid #9668fe;
        padding: .1em 0;
        color: white;
        background: #9668fe;
        width: 40%;
        font-size: 2em;
        text-align: center;
        transition: box-shadow .25s;
        outline: none;
        border-radius: 8px;
        background: linear-gradient(90deg, #4e00fe, #3e00cd); }
        .add-wish .intro form input[type="text"]::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.59); }
        .add-wish .intro form input[type="text"]:focus {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .add-wish .intro form h2 {
        color: rgba(255, 255, 255, 0.48);
        margin-top: 1em;
        margin-bottom: 0; }
      .add-wish .intro form input[type="date"] {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        text-align: right;
        border-radius: 8px;
        color: #4e00ff;
        font-size: 2em;
        font-weight: bold; }
      .add-wish .intro form button {
        transition: box-shadow .1s;
        box-shadow: 0 5px 10px rgba(31, 31, 31, 0.55);
        background: #141414;
        color: #fff;
        border: 0;
        outline: none;
        margin-top: 2em;
        padding: .5em 1em;
        border-radius: 10px;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase; }
        .add-wish .intro form button:hover {
          cursor: pointer; }
        .add-wish .intro form button:active {
          box-shadow: 0 3px 6px rgba(31, 31, 31, 0.66); }

.modalWindow {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: visibility 1s, opacity 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.69); }
  .modalWindow.false {
    visibility: hidden;
    opacity: 0; }
  .modalWindow.true {
    visibility: visible;
    opacity: 1; }
  .modalWindow .modalPopUp {
    transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40vh;
    background: #fff; }
    .modalWindow .modalPopUp.false {
      visibility: hidden;
      opacity: 0; }
    .modalWindow .modalPopUp.true {
      visibility: visible;
      opacity: 1; }
    .modalWindow .modalPopUp h1 {
      margin-top: 0;
      font-size: 3em;
      color: #6441f1;
      font-size: 3em;
      background: -webkit-linear-gradient(135deg, #007dff, #7d1bb1, #ff006b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      text-decoration: none; }
    .modalWindow .modalPopUp button.testing {
      width: 35%;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.41);
      background: linear-gradient(45deg, #4750cf, #6b74e9);
      margin-top: 0; }
      .modalWindow .modalPopUp button.testing:active {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.68); }

@media screen and (max-width: 910px) {
  .add-wish {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #007dff, #7d1bb1, #ff006b 130%); }
    .add-wish .intro {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      width: 100%; }
      .add-wish .intro h1 {
        color: white;
        text-shadow: none;
        display: block;
        font-size: 4em;
        width: 100%;
        text-align: center; }
      .add-wish .intro form {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .add-wish .intro form input[type="text"] {
          transition: box-shadow .25s;
          padding: .1em;
          outline: none;
          border-radius: 8px;
          color: white;
          background: linear-gradient(90deg, #4e00fe, #3e00cd);
          border: none;
          width: 95%;
          font-size: 2em;
          text-align: center; }
          .add-wish .intro form input[type="text"]:focus {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.71); }
          .add-wish .intro form input[type="text"]::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.59); }
        .add-wish .intro form h2 {
          color: rgba(255, 255, 255, 0.56);
          margin-top: 1em;
          margin-bottom: 0; }
        .add-wish .intro form input[type="date"] {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 95%;
          border: none;
          outline: none;
          border-radius: 8px;
          color: #4e00ff;
          font-size: 2em;
          font-weight: bold;
          text-align: right; }
        .add-wish .intro form button {
          box-shadow: 0 5px 10px rgba(31, 31, 31, 0.55);
          background: #141414;
          color: #fff;
          border: 0;
          outline: none;
          margin-top: 2em;
          padding: .5em 1em;
          border-radius: 10px;
          font-size: 2em;
          font-weight: bold;
          letter-spacing: 2px;
          text-transform: uppercase; }

  .modalWindow {
    transition: visibility .75s ease, opacity .75s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.69); }
    .modalWindow.false {
      visibility: hidden;
      opacity: 0; }
    .modalWindow.true {
      visibility: visible;
      opacity: 1; }
    .modalWindow .modalPopUp {
      transition: visibility .75s ease, opacity .75s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 40vh;
      background: #fff; }
      .modalWindow .modalPopUp.false {
        visibility: hidden;
        opacity: 0; }
      .modalWindow .modalPopUp.true {
        visibility: visible;
        opacity: 1; }
      .modalWindow .modalPopUp h1 {
        font-size: 3em;
        color: #6441f1;
        background: -webkit-linear-gradient(135deg, #007dff, #7d1bb1, #ff006b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        text-decoration: none; }
      .modalWindow .modalPopUp button.testing {
        width: 60%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.41);
        background: linear-gradient(45deg, #4750cf, #6b74e9);
        margin-top: 0; } }
/* ===========================
  END ADD WISH
========================= */
/* ===========================
  PROGRESS
========================= */
.intro-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75vh;
  width: 100%;
  background: #fff; }
  .intro-progress i {
    z-index: 0;
    border: solid #5936fc;
    border-width: 0 1px 1px 0;
    padding: 3px;
    margin-top: 1em;
    transform: scale(6) rotate(45deg);
    position: absolute;
    bottom: 6em;
    left: calc(50% - 3px); }
  .intro-progress h1 {
    margin: 0;
    font-size: 4em;
    display: inline-block;
    text-shadow: 2px 2px #ff7ab9;
    color: #5936fc; }

.progress-comp {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .progress-comp .intro-progress {
    background: white; }
  .progress-comp .wishes {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 100%; }
    .progress-comp .wishes .wish-progress {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 50%;
      min-height: 50vh;
      background: linear-gradient(135deg, #54ffea, #4355fc); }
      .progress-comp .wishes .wish-progress:nth-child(odd) {
        border-right: 1px solid rgba(255, 255, 255, 0.77); }
      .progress-comp .wishes .wish-progress .achieve {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%; }
        .progress-comp .wishes .wish-progress .achieve h1 {
          color: rgba(255, 255, 255, 0.29);
          text-shadow: none; }
        .progress-comp .wishes .wish-progress .achieve.false {
          background: rgba(0, 0, 0, 0.51); }
        .progress-comp .wishes .wish-progress .achieve.true {
          background: rgba(0, 0, 0, 0); }
      .progress-comp .wishes .wish-progress h1 {
        margin: .5em 0;
        color: #00d0ff;
        font-size: 4em;
        text-shadow: 1px 1px #1f9df7, 2px 2px #1d85ff, 3px 3px #1f77fa;
        text-align: center; }
      .progress-comp .wishes .wish-progress .checker {
        align-self: center;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 10em;
        height: 4em; }
        .progress-comp .wishes .wish-progress .checker .arrow.true {
          background: #009dbe; }
        .progress-comp .wishes .wish-progress .checker .arrow.false {
          background: rgba(1, 138, 167, 0); }
        .progress-comp .wishes .wish-progress .checker .criss.true {
          background: rgba(179, 3, 61, 0); }
        .progress-comp .wishes .wish-progress .checker .criss.false {
          background: #b3033d; }
        .progress-comp .wishes .wish-progress .checker .check {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4em;
          height: 4em;
          border: 2px solid #fff; }
          .progress-comp .wishes .wish-progress .checker .check span {
            transition: color .25s;
            font-size: 50px;
            color: rgba(255, 255, 255, 0.75); }
            .progress-comp .wishes .wish-progress .checker .check span:hover {
              cursor: pointer;
              color: white; }

@media screen and (max-width: 910px) {
  .intro-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #fff; }
    .intro-progress h1 {
      margin: 0;
      font-size: 4em;
      display: inline-block;
      text-shadow: 2px 2px #ff7ab9;
      color: #5936fc; }

  .progress-comp {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .progress-comp .intro-progress {
      background: white; }
    .progress-comp .wishes {
      display: flex;
      flex-direction: column; }
      .progress-comp .wishes .wish-progress {
        border-bottom: 1px solid rgba(255, 255, 255, 0.77);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
        min-height: 50vh;
        background: linear-gradient(135deg, #54ffea, #4355fc); }
        .progress-comp .wishes .wish-progress:nth-child(odd) {
          border-right: none; }
        .progress-comp .wishes .wish-progress .achieve {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%; }
          .progress-comp .wishes .wish-progress .achieve h1 {
            color: rgba(255, 255, 255, 0.29);
            text-shadow: none; }
          .progress-comp .wishes .wish-progress .achieve.false {
            background: rgba(0, 0, 0, 0.51); }
          .progress-comp .wishes .wish-progress .achieve.true {
            background: rgba(0, 0, 0, 0); }
        .progress-comp .wishes .wish-progress h1 {
          margin: .5em 0;
          color: #00d0ff;
          font-size: 4em;
          text-shadow: 1px 1px #1f9df7, 2px 2px #1d85ff, 3px 3px #1f77fa;
          text-align: center; }
        .progress-comp .wishes .wish-progress .checker {
          align-self: center;
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 10em;
          height: 4em; }
          .progress-comp .wishes .wish-progress .checker .arrow.true {
            background: #009dbe; }
          .progress-comp .wishes .wish-progress .checker .arrow.false {
            background: rgba(0, 157, 190, 0); }
          .progress-comp .wishes .wish-progress .checker .criss.true {
            background: rgba(179, 3, 61, 0); }
          .progress-comp .wishes .wish-progress .checker .criss.false {
            background: #b3033d; }
          .progress-comp .wishes .wish-progress .checker .check {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4em;
            height: 4em;
            border: 2px solid #fff; }
            .progress-comp .wishes .wish-progress .checker .check span {
              transition: color .25s;
              font-size: 50px;
              color: rgba(255, 255, 255, 0.75); }
              .progress-comp .wishes .wish-progress .checker .check span:hover {
                cursor: pointer;
                color: white; } }
/* ===========================
  END PROGRESS
========================= */
/* ===========================
  ABOUT
========================= */
.container-fluid {
  padding-top: 5em;
  height: 75vh; }
  @media screen and (max-width: 910px) {
    .container-fluid {
      height: 100vh; } }

/* ===========================
  END ABOUT
========================= */
/* TEST
*/
.scroller {
  height: 75vh;
  overflow: auto; }
  @media screen and (max-width: 910px) {
    .scroller {
      height: 100vh;
      overflow: auto; } }

/*# sourceMappingURL=app.css.map */
