// Colors
$elegant_dark: rgba(0, 0, 0, 0.95);
$elegant_white: rgba(255, 255, 255, 0.95);
$elegant_gold: rgba(246, 167, 23, 0.83);
$elegant_dark_gold: rgb(186, 131, 32);
$elegant_deep_blue: rgb(7, 14, 29);
$input_focus: #3fa0ff;

// Layout Colors
$homeInto: rgba(0, 0, 0, 0.9);
