// Colors
$BLACK: rgb(0, 0, 0);
$elegant_dark: rgb(9, 9, 9);
$elegant_half_dark: rgb(70, 70, 70);
$elegant_white: rgb(234, 234, 234);
$elegant_gold: rgb(239, 176, 37);
$elegant_dark_gold: rgb(186, 131, 32);
$elegant_deep_blue: rgb(7, 14, 29);
$elegant_light_pink: #ff3763;
$elegant_dark_pink: #c61f39;
$elegant_green: #52ff41;
$input_focus: #3fa0ff;

// Layout Colors
$homeIntro: rgb(11, 11, 11);

// Wish components
$wish_bg: $elegant_dark;
$wish_text_color: $elegant_white;

// wish menu
$close_size: 1.5rem;
$dots_size: 0.6rem;

// Components
//Footer
$add_wish_plus_height: 4rem;

// Shadows
$light_shadow: 0, 2px, 4px rgba($BLACK, 0.1);
$medium_shadow: 0, 2px, 4px rgba($BLACK, 0.25);
$hard_shadow: 0, 2px, 4px rgba($BLACK, 0.75);
