* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 82.5%; // 16px
  font-family: 'Inconsolata', monospace;
  font-family: 'Noto Serif JP', sans-serif;
}

body {
  font-size: 1rem;
  color: $elegant_dark;
}

.app {
  font-size: 1rem;
}
