* {
  box-sizing: border-box;
  // border: 1px solid red;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #404040;
  background: url("/src/app/images/mountains.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  // background: rgb(38, 143, 164);
  @media screen and(max-width: 910px) {
    background: rgb(154, 246, 214);
  }
}

head {
  font-size: 25rem;
}
