.footer {
  width: 100%;
  height: $add_wish_plus_height;

  &.black {
    border-top: 1px solid $elegant_white;
    background: $elegant_dark;
  }

  &.center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
