.plus {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  width: 3.5rem;
  height: 3.5rem;

  border-radius: 50%;

  transition: box-shadow 0.15s;

  cursor: pointer;

  &.thin {
  }

  &--link {
    &:hover {
      box-shadow: 0 0 5px $elegant_gold;

      span {
        &.gold {
          background: $elegant_dark_gold;
        }
      }
    }
  }

  &--regular {
    height: 5rem;
    width: 5rem;
  }

  span {
    z-index: 10;
    box-shadow: 0 0px 2px rgba(0, 0, 0, .24);

    position: absolute;

    width: 4px;
    height: 2rem;

    background: $elegant_white; // Default background is white

    &.thin {
      width: 2px;
    }

    &.gold {
      background: $elegant_gold;
    }

    &.black {
      background: $elegant_dark;
    }

    &.s {
      height: 2rem;
    }

    &.m {
      height: 5rem;
    }

    &:nth-child(1) {
      transform: rotate(90deg);
    }
    &:nth-child(2) {
      //border: 10px solid white;
    }
  }
}
